<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css"/>
</head>
<body>
    <div class="wrapper">
        <h1 id="#top">Please Login</h1>
        <div class="form-container">
          <form method="post" action="/user/login" class="form">
            <label class="key">Enter the Email</label>
            <input type="text" placeholder="email" name="email" class="value" />
  
            <br />
            <br />
  
            <label class="key pass">Enter the Password</label>
            <input type="text" placeholder="password" name="password" class="value pass" />
  
            <br />
            <br />
  
            <div class="button-container">
              <button type="Login" class="btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
</body>
</html>