<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/new.css" />
</head>
<body>
    <div class="wrapper">

        <div class="container">
            <h1>Inserted Data</h1>
            <div class="wrapper">
                <p><b class="head">Title:</b> <%= data1 %></p>
                <p><b class="head">Description:</b> <%= data2 %></p>
                
                
               
            </div>
            <div class="btns">
    
                <button class="insert-btn btn">Insert new</button>
                <button class="home-btn btn">Home</button>
                <button class="view-btn btn">View ALL</button>
            </div>
        </div>
    </div>
    
    <script src="js/new.js"></script>
</body>
</html>