<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css"/>
</head>
<body>
    <div class="wrapper">
        <h1>Signup</h1>
        <form method="post" action="/user/signup" class="form">
            <label class="key">Enter the name</label>
            <input type="text" placeholder="name" name="name" class="value"/>
            <br>
            <label class="key">Enter the email</label>
            <input type="text" placeholder="email" name="email" class="value"/>
            <br>
            <label class="key pass">Enter the password</label>
            <input type="text" placeholder="password" name="password" class="value pass"/>
            <br>
            <button type="submit" class="btn">Submit</button>

        </form>

    </div>
</body>
</html>